.DroppedMenu{
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: fit-content;
border: 1px solid rgba(0,0,0,0.1);
  border-top: none;
  //&.collapsed{
  //  height: 0;
  //}
}

.items{
  display: flex;
  flex-direction: column;
}
